@use "../../scss/" as *;
#contact {
  background-color: #e5ecfb;
  @include flex(center, center);
  flex-direction: column;
  min-height: 50vh;
  padding: 2rem 0;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
  .contact__container {
    max-width: 1050px;
    // width: 100%;
    background-color: $bg;
    margin: 2rem 4rem;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: $box-shadow2;
  
    .contact__content {
      @include flex(center, space-between);
      padding: 2rem 2rem;
      gap: 4rem;

      .contact__image__box {
        max-width: 60%;
        margin-left: 4rem;

        img {
          width: 100%;
          height: 100%;
          position: relative;
        }
      }

      #contact__form {
        width: 50%;
        // margin-right: 3.5rem;

        .form__group {
          @include flex(unset, center);
          flex-direction: column;
          .field {
            height: 45px;
            display: flex;
            position: relative;
            margin: 0.5rem;
            width: 100%;

            i {
              position: absolute;
              top: 50%;
              left: 18px;
              color: rgb(51, 51, 51);
              font-size: 17px;
              pointer-events: none;
              transform: translateY(-50%);
            }
            input,
            textarea {
              width: 100%;
              height: 100%;
              outline: none;
              padding: 0 16px 0 48px;
              font-size: 16px;
              border-radius: 5px;
              border: 1px solid rgb(51, 51, 51);
              background: #e5ecfb;

              &:focus {
                padding-left: 47px;
                border: 2px solid rgb(115, 3, 167);
              }
              &:focus ~ i {
                color: rgb(115, 3, 167);
              }
            }
            textarea {
              min-height: 130px;
              max-height: 230px;
              max-width: 100%;
              min-width: 100%;
              padding: 12px 20px 0 48px;
            }
          }
          .button-area {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 100px;
            button {
              color: #fff;
              border: none;
              outline: none;
              font-size: 1rem;
              cursor: pointer;
              border-radius: 5px;
              padding: 13px 25px;
              background: #2506ad;
              box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
              transition: 0.3s ease;
              &:hover {
                background: #421cecf5;
              }
            }
          }
        }
      }
    }

    @include tablet {
      .contact__image__box {
        width: 50%;
        margin-left: 1rem;
      }
    }

    @include mobile {
      width: 80%;
      @include flex(center, center);
      .contact__content {
        width: 100%;
        #contact__form {
          width: 100%;
        }

        .contact__image__box {
          display: none;
        }
      }
    }
  }
}
