@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

$darkgrey: #747c92;
$main-color: #0b178f;
// $main-color: #47ceac;
$main-color: #00012b;

// $txt-color: #1c2844;
$txt-color: #fff;
$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: "Poppins", sans-serif;
$header-height: 5.1rem;
$header-shrink-height: 4rem;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$box-shadow2: 0 4px 10px rgba(0, 0, 0, 0.2);
$white: #fff;
$blu-color: #1167b1;
$bg: #f7f7f7;